/* COLORES:
#00F0FF  AZUL CLARO
#030064  AZUL FUERTE
 */
.bg-primario{
    background-color: #030064;
}
.bg-secundary {
    background-color: #00F0FF;
}
.c-primary {
    color: #030064
}
.c-secondary {
    color:#00F0FF
}
.c-blanco{
    color: white !important;
}
body{
    text-align: center;
    background-color: rgba(0, 240, 255,0.2) !important;
}
.img-logo-nav {
    width: 100px;
    height: 60px;
    background: no-repeat url("../resourses/photos/travel\ Logo\ inv.png");
    background-size: 100px 60px; 
}
.ahover:hover{
    color: #00F0FF !important;
}
div.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}
.img-position{
    object-fit:cover;
    width: 100%;
    height: auto;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("../resourses/photos/menu-removebg.png") !important;
    background-color: #030064;
}

input[type=date] {
    height: 35px;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #00F0FF;
    outline: none;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    color: #030064;
  }
  .btn {
    background-color: #030064 !important;
    color: #00F0FF !important;
  }
  .btn:hover{
    background-color: #00F0FF !important;
    color: #030064 !important;
    font-weight: bold;
  }
  .carousel-inner img {
    margin: auto;
  }
  .text-carrusel {
     font-weight: bold;
     color: white;
     font-size: 1.5em;
  }

  @media (max-width: 768px) {
    .rotate {
      transform: rotate(90deg);
    }
    .mar-auto {
        margin: auto !important;
    }
  }
/*Da un efecto 3D a la imagen de las cards*/
.grow:hover {
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);   
}
/*Cards*/
.card-img-top {
    height: auto;
}
.container.icon {
    display: flex;
}
.card-icon {
    width: 100px;
    height: 50px;
}
/*Footer con Grid y List Group*/
.footer {
    margin-top: 20px;
    background-color: #030064;
}

.container-footer {
    background-color: #030064 !important;
    padding: 10px 10px 10px 10px;
    display: block;
}
.color-font:hover {
        color:#00F0FF !important;
}
.img-logo {
    width: 150px;
    height: 100px;
}

.imagen-footer {
    display: flex;
}
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
